@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <b>
        <h1 class="display-4" style="font-size: 48px; color: white;"><strong>Welcome</strong></h1>
    <p style="font-size: 20px; color: whitesmoke;">Please navigate to the needed page.</p>
    </b>
</div>

